*, *::before, *::after {
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
    padding: 0;
    font: inherit;
  }
  
  html {
    color-scheme: dark ligth;
  }
  
  body {
    min-height: 100vh;
    margin: 0;
  }
  
  img, picture, svg, video {
    display: block;
    max-width: 100%;
  }

 


  /*font-family: 'ADLaM Display';font-size: 22px; */
 /* <link href='https://fonts.googleapis.com/css?family=ADLaM Display' rel='stylesheet'>

 background-image: linear-gradient(to right, hsl(69, 96%, 52%), #6b10a0de);*/

  /*<link href='https://fonts.googleapis.com/css?family=ADLaM Display' rel='stylesheet'>
 font-family: 'ADLaM Display'*/


 $tipografia-titulo:  'Share Tech Mono';

 $tipografia-subtitulo: 'Alegreya SC';

 $tipografia-texto-importante: 'ADLaM Display';

 