.fondo-mdv{
    background-image: url("img/fondoprincipal2.png");
    background-size: cover;
   
}
 .fondo-vertical{
    background-color: rgb(37, 37, 37, 0.7);
 }




.titulo-seccion{
    display: inline-block;
    height: 30px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 30px ;
    font-family: $tipografia-subtitulo;
    font-size: 1.5rem;
    color: yellow;
    animation: scale 2s alternate infinite;
    
}

@keyframes scale {
    from { transform: scale(1); }
    to { transform: scale(1.5); }
  }


.caja-video-p{
display: flex;
justify-content: center;
margin-bottom: 70px;

}

.caja-video-presentacion{
    width: 250px;
    height: 450px;
   margin-top: 80px;
   margin-bottom: 70px;
   display: flex;
   justify-content: center;
   align-items: center;
  

}   
.video-presentacion{
    height: 444px;
    width: 250px;
    border-style: outset;
    border-width: 3px;
    border-color: rgb(29, 119, 146)
}


.caja-mdv-p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin-bottom: 70px;
    
}

.caja-mdv{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 600px;
    width: 350px;
    


    &__titulo{
        font-family: $tipografia-subtitulo;
        font-size: 1.5rem;
    }

    &__link{
        font-family:  $tipografia-texto-importante;
       background-color: transparent;
       border-style: outset;
       border-radius: 20px;
       border-color: violet;
       height: 40px;
       width: 150px;
       display: flex;
       justify-content: center;
       align-items: center;
       margin-top: 30px;

    }

    &__link:hover{
        background-color: rgb(70, 2, 70);
        border-color: violet;
        scale: 1.3;
    }
}
    
    .video{
     height: 442px;
     width: 250px;
     border-style: outset;
     border-width: 3px;
     border-color: rgb(29, 119, 146)
        
    }
    
@media (min-width:665px) {

    .titulo-seccion{
        margin-bottom: 190px;
        
    }

    .caja-video-presentacion{
        width: 600px;
    }
    .video-presentacion{
    height: 650px;
    width: 350px;
    object-fit: cover;

   
    }
.caja-mdv{
    width: 400px;
    height: 700px;

    &__titulo{
        margin-bottom: 80px;
        margin-top: 60px;
    }
    &__link{
        margin-top: 30px;
        margin-bottom: 60px;
    }
}

    .video{
      width: 300px;
      height: 650px;
      object-fit: cover;
    }

    
}
@media (min-width:900px)
{

    .fondo-vertical-p{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }
    .fondo-vertical{
    width: 850px;
    background-color: rgb(37, 37, 37, 0.7);
    border-radius: 30px;
    margin-top: 80px;
    margin-bottom:100px ;
  
    }
.titulo-seccion{
    font-size: 2rem;

}
.caja-video-presentacion{
    height: 800px;
    width: 500px;
    
}
.video-presentacion{
     height: 870px;
width: 600px;
object-fit: cover;
}


.video{
height: 750px;
width: 550px;
object-fit: cover;
}
    
.caja-mdv{
    height: 800px;
    width: 500px;
    margin-top: 150px;
    margin-bottom: 300px;

&__titulo{
    margin-top: 100px;
    margin-bottom: 60px;
    font-size: 2rem;
}

&__link{
    height: 100px;
    width: 250px;
    
    margin-top: 60px;
}

}

.p-link{
    font-size: 1.6rem;
}
}

