.fondo-pagina{
    background-image: url("../img/fondoprincipal2.png");
}

.caja-pagina-p{
    display: flex;
    flex-direction: column;
    background-color: rgb(37, 37, 37, 0.7);
    gap: 50px;
 }
.caja-pagina{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  border-top: solid 2px black;
  padding-top: 20px;
  padding-left: 10px ;
  padding-right: 10px;

&__titulo{
    font-family: $tipografia-subtitulo;
    font-size: 1.8rem;
    color: blueviolet;
}

&__subtitulo{
    font-size: 1.3rem;
    font-family: $tipografia-subtitulo;
    color: rgb(186, 112, 255);
    padding-top: 40px;
}

&__texto{
    font-family: 'Montserrat';
    font-size: 1rem;
    text-align: center;
}



}

.texto-importante{
    font-family: $tipografia-texto-importante;
}